body{
    margin: 0;
    padding: 0;
    font-family: Gidugu;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}

.login-header h1 {
    font-size: 18px;
    margin: 0;
}

.logo {
    width: 100px;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
}

.input-group .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.input-group input {
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    font-size: 14px;
}

.login-button {
    background-color: #005aa7;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0,3s ease;
}

.login-button:hover {
    background-color: #003d7e;
}